[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Dincer Celik (osmanlicilegi)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Dincer Celik (osmanlicilegi)
	label-Verified = -1..+1 group user/Dincer Celik (osmanlicilegi)
	push = group user/Dincer Celik (osmanlicilegi)
	read = group user/Dincer Celik (osmanlicilegi)
	rebase = group user/Dincer Celik (osmanlicilegi)
	removeReviewer = group user/Dincer Celik (osmanlicilegi)
	submit = group user/Dincer Celik (osmanlicilegi)
[access "refs/heads/*"]
	create = group user/Dincer Celik (osmanlicilegi)
	push = +force group user/Dincer Celik (osmanlicilegi)
	pushMerge = group user/Dincer Celik (osmanlicilegi)
	read = group user/Dincer Celik (osmanlicilegi)
[access "refs/tags/*"]
	push = group user/Dincer Celik (osmanlicilegi)
	push = +force group user/Dincer Celik (osmanlicilegi)
